body {
  background-color: #5c8374;
}

h1 {
  text-align: center;
  color: white;
  background: #1b4242;
  color: white;
  border-radius: 10px;
  border: 2px solid #092635;
  padding: 10px;
  margin: 30px 130px;
}

.container {
  margin: 100px auto 50px auto;
  max-width: 600px;
}

form {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  opacity: 0.75;
}

.textInput {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #092635;
  width: 85%;
}

.inputButton {
  padding: 10px;
  margin-left: 5px;
  background: #1b4242;
  color: white;
  border-radius: 10px;
  border: 2px solid #092635;
}

.inputButton:hover {
  cursor: pointer;
}

.poemText {
  background-color: white;
  padding: 20px;
  border-left: 3px solid #1b4242;
  margin-top: 15px;
  opacity: 0.75;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-weight: bold;
  color: #1b4242;
}

.gitHubText {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.loading {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.AIMarker {
  color: #1b4242;
}
